@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{ var selection = CurrentPage.Site().Children.Where("Visible"); }

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="/">Home</a>
				</li>
				@foreach (var page in CurrentPage.Site().Children.Where("Visible")){
					if(page.Children.Where("Visible").Count() > 0){
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                           	@page.Name<span class="caret"></span>
                           	</a>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var subpage in page.Children.Where("Visible")){
                                	<li><a href="@subpage.Url">@subpage.Name</a></li>
                                }
                            </ul>
                        </li>
					}else{
                    	<li><a href="@page.Url">@page.Name</a></li>
					}
				}
			</ul>
		</div>
    </div>
</nav>
